.header {
  background-color: white;
  padding: 15px 0;
}

.fas_fa-bolt {
  background-color: #333;
}

.box {
  font: 12px;
  padding: 14px 12px;
  background-color: #74cfae;
  color: white;
  float: right;
  transition: 0.3s;
}

.box:hover {
  color: #333;
}

.inner {
  width: 1100px;
  margin: 0 auto;
}

.title  {
  background-color: #f2f2f2;
  width:  100%;
}

.title-inner  {
  padding: 250px 0;
  text-align: center;

}

.text {
  font-size: 90px;
  font-weight: 700;
  color: #74cfae;
}

.sub__text  {
  font-size: 30px;
  color: #c0c0c0;
  margin-top: 20px;
}

.body {
  background-color: #74cfae;
  width: 100%;
  padding: 50px 0 0;
}

.clearfix::after{
  content: "";
  display: block;
  clear: both;
}


.main__box  {
  background-color: #74cfae;
  width: 100%;
}

.main__box-inner {
  padding-top: 50px;
  padding-left: 115px;
  box-sizing: border-box;
}

.right__body  {
  float: right;
  margin: 0 auto;
  width: 70%;
  text-align: center;
  padding-top: 50px;
}

.iphone-body {
  width: 30%;
  float: left;
}

.main__body {
  font-size: 24px;
  color: white;
}

.sub__body  {
  font-size: 20px;
  color: white;
  margin-top: 35px;
}

.big__box-inner {
  padding-top: 40px;
  padding-bottom: 70px;
}

.big__box {
  background-color: #f2f2f2;
  margin: 0 auto;
}

.top__box {
  text-align: center;
  font-size: 24px;
  margin-bottom: 40px;
}

.picture__list {
  margin-left: 100px;
  float: left;
}

.picture__list:nth-child(3n+1) {
  margin-left: 0 ;
}

.picture__list:nth-child(n+4) {
  margin-top: 80px;
}

.monster {
  display: block;
  opacity: 0.7;
  transition: 0.3s;
}

.monster:hover {
  opacity: 1;
}

.under__box {
  margin-top: 90px;
  text-align: center;
}

.font__font {
  display: inline-block;
  width: 50%;
}

.button {
  font-size: 12px;
  padding: 14px 20px;
  background-color: #74cfae;
  color: white;
  display: inline-block;
  margin-left: 90px;
  vertical-align: bottom;
  transition: 0.3s;
}

.button:hover {
  color: #333;
}

.black__box {
  background-color: #4e4e4e;
}

.black__box-inner {
  padding-top: 70px;
  padding-bottom: 100px;
}

.main__text {
  color: #fff;
  text-align: center;
}

.big__circle  {
  text-align: center;
}

.main__circle {
  display: inline-block;
}

.white__text {
  font-size: 16px;
  color: #fff;
  text-align: center;
}
.main__circle:nth-child(n+2) {
  margin-left: 180px;
}

.graw__sns {
  background-color: #f2f2f2;
}

.graw__sns-inner  {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
}

.main__sns {
  display: inline-block;
}

.sub__sns {
  display: block;
  width: 185px;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 20px;
  transition: 0.3s;
}

.sub__sns:hover {
  background-color: #fff;
}

.fab {
  color: #74cfae;
  font-size: 50px;
}

.fas {
  color: #74cfae;
  font-size: 50px;
}


.footer {
  background-color: #74cfae;
}

.footer-inner {
  padding-top: 20px;
  padding-bottom: 25px;
}

.footer__box {
  text-align: right;
}

.last__box {
  color: white;
}